.body{
  background-color: azure;
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: calc(50% - 10px);
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  margin-bottom: 20px;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 10px;
  text-align: center;
}
